
@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@700 & display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    max-width: 100vh;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(39, 38, 38);
    color: white;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#data, #horario{
    background: transparent;
    padding: 20px;
    box-shadow: 0px 8px 10px  rgb(19, 18, 18);
    border-radius: 15px;
    cursor: default;
}